.hero {
    background-image: url("./uni-of-port.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.uni {
    background-image: url("./minerva_01.png");
    background-size: cover;
    background-repeat: no-repeat;
}